*{
    box-sizing: border-box;
}

body{
    font-family: "poppins";
    width: 100%;
    height:100%;
}

.form{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border-style: none;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group{
    width: 100;
    height: 100;
    border-radius: 5px;
    border: 2px;
    border-style: none;
}

.form-group label{
    padding-bottom: 5px;
}

.form-group input{
    padding: 12px 8px;
    border-radius: 10px;
    border-style: none;
    border: 1px solid #000000;
    display: flex;
    align-items: flex-start;
    width: 100%;
}

ul{
    display: flex;
    flex: none;
    margin: 0;
    padding: 0;
}


.account a {
    background-color: rgb(17, 17, 17);
    border-radius: 30px;
    color: #ffffff;
    padding: 1rem;
    border-style: none;
    display: flex;
    align-items: center;
    text-align: center;
}

a{
    margin: 0.5rem;
    color: #333333;
}

li{
    margin: 10px;
    line-height: 12px;
    font-size: 14px;
   
}